<aside class="left-menu">
  <div class="aside-inner">
    <div class="d-flex justify-content-center flex-shrink-0 p-3 text-white">
      <ul class="nav nav-pills flex-column mb-auto">
        <a class="btn btn-dark w-100 text-info mb-3" href="/" role="button">
          <i class="fas fa-house"></i> Home
        </a>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-dashboard" role="button" aria-expanded="false" aria-controls="collase-dashboard">
          <i class="justify-content-center fas fa-concierge-bell"></i> Dashboard <i class="fa fa-angle-down arrow"></i>
        </a>
        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-dashboard">
          <div class="mb-3"> 
            <i class="fa-solid fa-binoculars text-info"></i>
            <%= link_to dashboard_index_path, class: 'text-light link' do %> 
              <span>
                Acompanhamento das filas
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-attempts" role="button" aria-expanded="false" aria-controls="collase-correios">
          <i class="fa-regular fa-hourglass"></i> Histórico de Tentativas <i class="fa fa-angle-down arrow"></i>
        </a>
        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3"> 
            <i class="fa-solid fa-file-lines text-info"></i>
            <%= link_to attempts_path(status: :success, kinds: :create_correios_order), class: 'text-light link' do %> 
              <span> 
                Criação de Pedido no Correios 
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3"> 
            <i class="fa-solid fa-file-invoice text-info"></i>
            <%= link_to attempts_path(status: :success, kinds: :emission_invoice), class: 'text-light link' do %>
              <span>
                Emissão de nota fiscal no Tiny
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3"> 
            <i class="fa-regular fa-file-zipper text-info"></i>
            <%= link_to attempts_path(status: :success, kinds: :send_xml), class: 'text-light link' do %>
              <span>
                Envio de XML para o Correios
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3"> 
            <i class="fa-solid fa-location-dot text-info"></i>
            <%= link_to attempts_path(status: :success, kinds: :get_tracking), class: 'text-light link' do %>
              <span>
                Solicitação de código de rastreio do Correios
              </span>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <hr>
  <div class="container">
    <span class="d-flex justify-content-center"> Buscar código de rastreio: </span>
    <div class="container d-flex justify-content-center mt-2">
      <input class="form-control" id="tracking_number" placeholder="Digite o número do pedido">
      <button class="btn btn-dark text-secondary"id="search_button">Procurar</button>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <span class="badge bg-secondary text-info">
      <i id="loading" class="fa-regular fa-compass"></i>
      <div class="mt-2 h5" id="tracking_result"></div>
    </span>
  </div>
  <div class="d-flex justify-content-center" style="position: fixed; margin-top: 21em; margin-left: 6em;">
    <small class="text-light"> Chase Brasil <i class="fas fa-registered"></i></small>
  </div>
</aside>
<script>
  $(document).ready(function() {
    $('#search_button').click(function() {
      var trackingNumber = $('#tracking_number').val();
      $('#loading').addClass('fa-spin');
      $.ajax({
        url: '<%= tracking_dashboard_index_path %>',
        type: 'GET',
        data: { tracking_number: trackingNumber },
        dataType: 'json',
        success: function(response) {
          if (response) {
            $('#tracking_result').html(response[0]['codigoObjeto']);
          } else {
            $('#tracking_result').html('Nenhum resultado encontrado.');
          }
          $('#loading').removeClass('fa-spin');
        },
        error: function() {
          $('#tracking_result').html('Erro ao buscar informações de rastreamento.');
        }
      });
    });
  });
</script>