<aside class="left-menu">
  <div class="aside-inner">
    <div class="flex-shrink-0 p-3 text-white">
      <ul class="nav nav-pills flex-column mb-auto">
        <a class="btn btn-dark text-info mb-3" href="/" role="button">
          <i class="fa-regular fa-house"></i> <span class="name-button"> Home </span>
        </a>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-dashboard" role="button" aria-expanded="false" aria-controls="collase-dashboard">
          <i class="justify-content-center fa-regular fa-concierge-bell"></i> <span class="name-button"> Dashboard </span><i class="fa fa-angle-down arrow"></i>
        </a>
        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-dashboard">
          <div class="mb-3 col-icon"> 
            <%= link_to dashboard_index_path, class: 'text-light link' do %>
              <i class="fa-solid fa-binoculars text-info"></i>
              <span class="name-col">
                Geração de notas fiscais
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-pedidos" role="button" aria-expanded="false" aria-controls="collase-pedidos">
          <i class="justify-content-center fa-solid fa-truck"></i> <span class="name-button"> Pedidos </span><i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-pedidos">
          <div class="mb-3 col-icon"> 
            <%= link_to orders_path, class: 'text-light link' do %>
              <i class="fa-solid fa-clipboard-check text-info"></i>
              <span class="name-col">
                Conferência de Pedidos
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-shopify" role="button" aria-expanded="false" aria-controls="collase-dashboard">
          <i class="justify-content-center fab fa-shopify"></i> <span class="name-button"> Shopify </span><i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-shopify">
          <div class="mb-3 col-icon"> 
            <%= link_to products_path, class: 'text-light link' do %>
              <i class="fa-solid fa-binoculars text-info"></i>
              <span class="name-col">
                Produtos Shopify
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-motors" role="button" aria-expanded="false" aria-controls="collase-dashboard">
          <i class="justify-content-center fa-solid fa-gear"></i> <span class="name-button"> Motores </span><i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-motors">
          <div class="mb-3 col-icon"> 
            <%= link_to motors_path, class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Acompanhamento motores
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-dark text-info mb-3" data-bs-toggle="collapse" href="#collase-attempts" role="button" aria-expanded="false" aria-controls="collase-correios">
          <i class="fa-regular fa-hourglass"></i> <span class="name-button">Histórico de Tentativas </span> <i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3 col-icon"> 
            <%= link_to attempts_path(kinds: :create_note_tiny2), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Criação de notas no Tiny 2
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3 col-icon"> 
            <%= link_to attempts_path(kinds: :emission_invoice_tiny2), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Emissão de notas no Tiny 2
              </span>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center logo-chase" style="position: fixed; margin-top: 21em; margin-left: 6em;">
    <small class="text-light"> Chase Brasil <i class="fas fa-registered"></i></small>
  </div>
</aside>
<style>
  @media (max-width: 999px) {
    
  .navbar-header .navbar-content {
    display:none !important;
  }
  .col-icon {
    display: flex;
    justify-content: center;
  }
  .name-col {
    display:none;
  }

  .navbar-header .navbar-dropdowns {
    float: inline-start;
  }

  .name-button,
  .logo-chase {
    display:none !important;
  }

  .left-menu {
    width: 70px !important;
  }
  
  .wrapper > section:not(.sem-menu) {
    margin-left: 60px !important;
  }

  .navbar-header .navbar-brand .brand-logo,
  .navbar-header .navbar-brand  {
    width: 205px !important;
  }

  .wrapper > section > .content-wrapper .row {
    margin-top: -7px !important;
  }
}

@media (min-width: 1000px) {
  
}
</style>